
.background, .title {
 -fx-background-color: groovyblue;
 -fx-stroke: blue;
 -fx-background-image: url('gr8uslogo_reasonably_small.png');
 -fx-background-position: 580px 420px;
 -fx-background-size: 48px 48px;
 -fx-background-repeat: no-repeat;
}

.background {
 visibility: hidden;
}

.title-slide {
  -fx-stroke: red;
}

.maintitle, .subtitle {
  -fx-text-fill: white;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,2,2 );
  -fx-wrap-text: true;
  -fx-text-alignment: center;
  -fx-translate-y: -100;
  -fx-font: bold 48pt arial, serif;
}

.maintitle {
 -fx-translate-y : -80;
}

.subtitle {
 -fx-translate-y : 80;
}
