
.background, .title, .slide {
 -fx-background-color: groovyblue;
 -fx-stroke: blue;
 -fx-background-image: url('gr8uslogo_reasonably_small.png');
 -fx-background-position: 580px 420px;
 -fx-background-size: 48px 48px;
 -fx-background-repeat: no-repeat;
}

.filler {
 visibility: hidden;
}

.title-slide {
  -fx-stroke: red;
}

.maintitle, .subtitle, .content-title, .content-content {
  -fx-text-fill: white;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,2,2 );
  -fx-wrap-text: true;
}

.content-title, .content-content {
  -fx-text-alignment: left;
 -fx-wrap-text:true;
 -fx-label-padding: 20;
}

.maintitle, .subtitle {
  -fx-text-alignment: center;
}

.maintitle, .subtitle, .content-title {
  -fx-font: bold 48pt arial, serif;
}

.content-content {
  -fx-font: bold 30pt arial, serif;
}

.effectText {
 -fx-font-size: 20pt;
}

.effectBox {
 -fx-background-color: dodgerblue;
 -fx-border-color: black;
 -fx-padding: 5, 20, 5, 20;
}

.content-content {
 -fx-text-align: top left;
}

.maintitle {
 -fx-translate-y : -80;
}

.subtitle {
 -fx-translate-y : 80;
}

.presenterButton:hover {
 -fx-effect: dropshadow( one-pass-box , lightgray , 3 , 0.0 , 3 , 3 );
}

.presenterButton:pressed {
 -fx-effect: dropshadow( one-pass-box , lightgray , 3 , 0.0 , 1 , 1 );
 -fx-translate-x: 2;
 -fx-translate-y: 2;
}
